*{
    font-family: Bungee Shade, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    padding:0;
    margin:0;
}
body {
    background-color: #561544;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00FFFF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9932CC;
}

#span1,
#span2,
#span3,
#span4,
#span5,
#span6,
#span7,
table {
    display: none;
    font-size: 20px;
    font-weight: 700px;
}

.color_div {
    width: 20px;
    height: 20px;
}

button {
    /* margin: auto; */
    padding: 10px;
    width: 300px;
    background: #FFFFFF;
    border: 2px solid #9400D3;
    color: #9400D3;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;


}

#initial_buttons {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#devdiv_fill_table {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
}

tr,
td {
    color: white;
    border: 2px solid white;
}

#devdiv:hover,
#devdiv1:hover,
#devdiv2:hover,
#devdiv3:hover {
    transform: scale(1.2);

}
a{
    font-size: 1.2rem;
    
    color: #9400D3;
}